/*Primera forma de poner estilos*/
/*Etiqueta*/
body{
    background: rgb(42,120,19);
background: linear-gradient(90deg, rgba(42,120,19,1) 0%, rgba(69,252,73,1) 100%);
    margin-left: 500px;
    margin-top: 100px;
}

/*Segunda forma de dar estilo*/
/*clase*/
.links{
   
    color: white;
}
img{
    border-radius: 40%;
    box-shadow: 10px 10px darkgreen;
}
h1{
    color: aqua;
}
a{
    padding: 15px;
    position: relative;
    margin: 1%;
    display: flex;
    width: 300px;
    padding-left: 270px;
    border-radius: 30px;
}
a:hover{
    background-color:black;
    color: red;
}

.instagram{
    background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}  
.facebook{
    background-color:#4267B2;
}

.linkedin{
    background-color: rgba(61, 61, 255, 0.627);
}
.twitter{
    background-color: rgb(0, 119, 181);
}
section{
    margin-left: 25%;
}