body{
    background-image: url(../assets/background.jpg);
}
.container-avatar{
    padding: 10px;
    width: 200px;
    background-color: rgb(118, 200, 106);
    text-align: center;
    margin-left: 45%;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    
}
h1{
    text-align: center;
}

/*Aqui empieza la seccion de about me*/
.about-me{
    padding: 10px 20px 10px 20px;
    background-color: aquamarine;
    font-size: 20px;
    text-align: center;
}
div{
    margin: 20px;
    border-radius: 10px;
}
h3{
    position: relative;
    margin-left: 70px;
    color: aliceblue;
}
.network img{
    width: 55px;
    height: 55px;
    float: left;
    border-radius: 40%;
    
}
.network p{
    margin-left: 60px;
    color: rgb(241, 250, 215);
    
}
.facebook{
    background-color: rgb(1, 101, 225);
}
.instagram{
    background-color: orange;
}
.twitter{
    background-color: rgb(0, 255, 255);
}

.container-avatar:hover{
    background-color: red;
    color: white;
}
div:hover{
    background-color: black;
    color: yellow;
}
.about-me:hover{
    background-color: black;
    color: yellow;
}
